.masonry-wrapper {
  padding: 1.5em ;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr;

.masonry {
  columns: 1;
  column-gap: 20px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  width: 100%;
}


.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}



  a:hover {
    text-decoration: none !important;
  }

  &__item {
    width: 100% !important;
    box-shadow: 2px 2px 5px #999 !important;

    &:hover {
      background-color: rgb(229, 236, 250);
    }

    .item-meta {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      opacity: 0;
      background-color: rgba(259, 259, 259, 0.8);
      padding: 2%;
      position: absolute;
      right: 0;
      text-align: center;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      top: 0;
      color: black;

      .h5 {
        font-size: 1.3125em;
      }
      .h6 {
        font-size: 1.125em;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  // margin: 0 20px !important;
  > a {
    margin: 0 1em;
  }
}
