@import "../../scss/index.scss";

.navbar {
  @media (max-width: $breakpoint-down-md) {
    flex-direction: row-reverse;
  }
  .navbar-brand {
    img {
      max-width: 220px !important;
      margin-top: 10px;
    }
  }
}
