@import "../../scss/index.scss";
.social-media {
  display: flex;
  justify-content: center;
  @media (max-width: $breakpoint-down-xs) {
    justify-content: center;
  }

  a {
    margin: 0 8px;
    color: $font-dark;

    &:hover {
      text-decoration: none;
    }

    .icon {
      font-size: 20px;
      opacity: 1 !important;
    }
  }
}
